workflows-rag-optimized/0226_Manual_Stickynote_Update_Triggered.json
{
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        1140,
        780
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "12 Hours from now",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        1520,
        580
      ],
      "parameters": {
        "value": "={{$now}}",
        "action": "calculate",
        "options": {},
        "duration": 12,
        "timeUnit": "hours"
      },
      "typeVersion": 1
    },
    {
      "name": "Set times",
      "type": "n8n-nodes-base.set",
      "position": [
        1520,
        1020
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Now",
              "value": "={{$now}}"
            },
            {
              "name": "Current time with seconds",
              "value": "={{$now.toLocaleString(DateTime.TIME_WITH_SECONDS)}}"
            },
            {
              "name": "Today",
              "value": "={{$today}}"
            },
            {
              "name": "Tomorrow",
              "value": "={{$today.plus({days: 1})}}"
            },
            {
              "name": "One hour from now",
              "value": "={{$now.minus({hours: 1})}}"
            },
            {
              "name": "Weekday",
              "value": "={{$today.weekdayLong}}"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "name": "Edit times",
      "type": "n8n-nodes-base.set",
      "position": [
        2080,
        1020
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Current time",
              "value": "={{DateTime.fromISO($json[\"Now\"])}}"
            },
            {
              "name": "Current time formatted",
              "value": "={{DateTime.fromISO($json[\"Now\"]).toFormat('yyyy LLL dd')}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "Format - MMMM DD YY",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        1760,
        580
      ],
      "parameters": {
        "value": "={{$now}}",
        "options": {},
        "toFormat": "MMMM DD YYYY"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Set times": {
      "main": [
        [
          {
            "node": "Edit times",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 Hours from now": {
      "main": [
        [
          {
            "node": "Format - MMMM DD YY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Set times",
            "type": "main",
            "index": 0
          },
          {
            "node": "12 Hours from now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}