workflows-rag-optimized/0322_Splitout_Code_Send_Triggered.json
{
  "meta": {
    "instanceId": "<UUID-chain>"
  },
  "nodes": [
    {
      "id": "b2c3ff9d-936e-4c3c-b3da-84b44f12b6f0",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -980,
        500
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "cb911db1-d2af-4d2b-9338-3804f89d6de2",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -380,
        722.5
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "20e60d3a-bc0d-4918-b0bc-53dea0b31e15",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -500,
        720
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "<openAiApi-id>",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "e6d03a52-ba51-4661-a3ff-647bffe1dc4a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        680,
        500
      ],
      "parameters": {
        "text": "=Question: {{ $json.question }}\nWhy: {{ $json.why }}\n\nContext:  {{ $('Summarize Transcript').first().json.response.text }}\n",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 1.8
    },
    {
      "id": "70c1fa3b-40b2-4015-b6dd-5f0750c80c1b",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        860,
        720
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "968816a8-2da1-4af0-abe1-e46f9df21883",
      "name": "Podcast Episode Transcript",
      "type": "n8n-nodes-base.code",
      "position": [
        -760,
        500
      ],
      "parameters": {
        "jsCode": "return { transcript: `So throughout the last couple episodes we’ve been doing on the philosophy of mind…there’s been an IDEA that we’ve referenced MULTIPLE TIMES… and really just glossed over it as something, that’s PRACTICALLY self evident. \n\n\n\nThe idea… is that when we THINK about consciousness… we can SPLIT it into two different types…there’s ACCESS consciousness on the one hand… and PHENOMENAL consciousness on the other. This is what we’ve been saying. \n\n\n\nWhen it comes to ACCESS consciousness…that’s stuff we CAN explain with neuroscience things like memories, information processing, our field of visual awareness…we can CLEARLY EXPLAIN a bit about how all THAT stuff works.\n\n\n\nBut in this conversation so far, what KEEPS on being said… is that what we CAN’T SEEM to explain…is PHENOMENAL consciousness…you know, the subjective experience, that UNDERLIES conscious thought. That it FEELS like something to be me. There’s this idea…that this phenomenal consciousness is something separate…something fundamental, something in a category ALL IT’S OWN… that needs to be explained. You can explain a lot of stuff about access consciousness…but you can’t explain PHENOMENAL consciousness. \n\n\n\nBut if you were a good materialist listening to the discussions on this series so far…and you’re sitting in the back of the room, being SUPER PATIENT, NOT SAYING ANYTHING trying to be respectful to all the other ideas being presented…maybe there’s a part of you so far that’s just been BOILING inside, because you’re waiting for the part of the show where we’re ACTUALLY going to call that GIANT assumption that’s being made into question. \n\n\n\nBecause a materialist might say, SURE…phenomenal consciousness is PRETTY mysterious and all. But DOES that necessarily mean that it’s something that NEEDS a further explanation? \n\n\n\nThis is a good question. What is the difference… between EXPLAINING ALL of the component PARTS of our subjective experience again the thoughts, memories, information processing…what’s the difference between explaining all that and explaining phenomenal consciousness… in itself? Like what does that even mean?\n\n\n\nThat’s kinda like you saying…well… you can EXPLAIN the delicious waffle cone. You can EXPLAIN the creamy chocolatey goodness inside, you can EXPLAIN the RAINBOW colored SPRINKLES. But you CAN’T explain the ICE CREAM CONE…in ITSELF, now can you? \n\n\n\nI mean at a CERTAIN point what are we even talking about anymore? IS phenomenal consciousness REALLY something that’s ENTIRELY SEPARATE that needs to be explained? \n\n\n\nMaybe, it DOESN’T need to be explained. Maybe phenomenal consciousness is less a thing in itself…and MORE a sort of ATTRIBUTION we make… about a particular INTERSECTION of those component parts that we CAN study and explain. \n\n\n\nNow obviously there’s a bit to clarify there… and going over some popular arguments as to why that might be the case will take a good portion of the episode here today. But maybe a good place to start is to ask the question…if the hard problem of consciousness is to be able to explain why it FEELS like something to be me…and your SOLUTION to that is that maybe we don’t even need to explain that. One thing you’re gonna HAVE to explain no matter what… is why it SEEMS to MOST people living in today’s world…that phenomenal consciousness IS something that needs to be explained. \n\n\n\nRight before we began this series we did an episode on Susan Sontag and the power of the metaphors we casually use in conversations. And we talked about how these metaphors ACTUALLY go on to have a pretty huge impact on the way we contextualize the things in our lives. \n\n\n\nWell the philosopher Susan Blackmore, and apparently… I ONLY cover female philosophers by the name of Susan or Simone on this show…but anyway SUSAN BLACKMORE, huge player in these modern conversations about the mysteries of consciousness…and she thinks that if it’s DIFFICULT for someone to wrap their brain around the idea that phenomenal consciousness is NOT something that is conceptually distinct…it MAY BE because of the METAPHORS about consciousness that we use in everyday conversation that are directing the way you THINK about consciousness… into a particular lane that’s incorrect.  \n\n\n\nFor example, there’s a way people think about consciousness… that’s TRAGICALLY common in today’s world…it’s become known as the Cartesian theater. So Cartesian obviously referring to Descartes. And when Descartes arrives at his substance dualism where the MIND is something ENTIRELY SEPARATE from the BODY…this EVENT in the history of philosophy goes on to CHANGE the way that people start to see their conscious experience. They start to think… well what I am…is I’m this conscious creature, sort of perched up here inside of this head…and I’m essentially…sitting in a theater, LOOKING OUT through a set of eyes which are kind of like the screen in a theater…and on the screen what I SEE is the outside world. \n\n\n\nNow nobody ACTUALLY believes this is what is happening. Every person on this god forsaken planet KNOWS that there isn’t a movie theater up in their heads. But hearing and using this metaphor DOES SHADE the way that they see their own conscious experience. The casual use of the metaphor… ALLOWS people to smuggle in assumptions about their subjective experience, that we REALLY have no evidence to be assuming. \n\n\n\nFor example, when the mind and body is totally separate…maybe it becomes EASIER for people to believe that they’re a SPIRIT that’s INHABITING a body. Maybe it just makes it easier for people to VIEW their subjective, phenomenal consciousness as something SEPARATE from the body that needs to be explained in itself. WHATEVER IT IS though…the point to Susan Blackmore is that metaphors you use have an IMPACT on your intuitions about consciousness. And she thinks there’s several OTHER examples that fall into the very same CATEGORY as the Cartesian Theater.   \n\n\n\nHow about the idea that there’s a unified, single, STREAM of consciousness that you’re experiencing. The STREAM being the metaphor there. Susan Blackmore asks is a SINGLE, unified STREAM, REALLY the way that you experience your conscious thought? Like when you REALLY pay attention is that how you’re existing?\n\n\n\nShe says most likely the only reason people SEE their consciousness in terms of a stream…is because of the specific way that people are often asked to OBSERVE their own consciousness. There’s a BIAS built into the way that we’re checking in. How do people typically do it? Well they’ll take a moment…they’ll stop what they’re doing…and they’ll ask themselves: what does it feel like to be ME right now. They’ll pay attention, they’ll listen, they’ll try to come up with an answer to the question…and they’ll realize that there’s a PARTICULAR set of thoughts, feelings and perceptions that it FEELS like, to be YOU in THAT moment. \n\n\n\nBut then that person can wait for an hour…come back later, and ask the very SAME QUESTION in a different moment: what does it feel like to be me right now…and low and behold a totally DIFFERENT set of thoughts, feelings and perceptions come up. \n\n\n\nAnd then what we OFTEN DO as people at that point… is we FILL IN that empty space between those two moments with some ethereal STREAM of consciousness that we assume MUST HAVE existed between the two. \n\n\n\nBut at some OTHER level…RATIONALLY we KNOW…that for the whole time that we WEREN’T doing this accounting of what it FEELS like to be me…we KNOW that there were TONS of different unconscious meta-processes going on…all doing their own things, sometimes interacting with each other, most of the time not. We KNOW that our EXPERIENCE of consciousness is just directing our attention to one PIECE of our mental activity or another… and that all those pieces of mental activity KEEP on operating whether we’re FOCUSING on one of them or not. \n\n\n\nSo is there a specific LOCATION where there’s some sort of collective STREAM where all of this stuff is bound together HOLISTICALLY? Is there ANY good reason to ASSUME that it NEEDS to BE that way? Could it be that the continuity of this mental activity is more of an ILLUSION… than it is a reality?\n\n\n\nAnd if this sounds impossible at first…think of OTHER illusions that we KNOW go on in the brain. Think of how any SINGLE sector of the brain CREATES a similar sort of illusion. Memories. We KNOW that DIFFERENT parts of the brain are responsible for different types of memory. Semantic memory in the frontal cortex, episodic memory in the hippocampus, procedural memory in the cerebellum. ALL of these different areas work together in concert with each other, it’s ALL seemingly unified. \n\n\n\nWhen someone cuts me off in traffic and I’m choosing a reaction…I don’t CONSCIOUSLY, travel down to my cerebellum and say hey 200 million years ago how did my lizard grandfather react when a lizard cut him off in traffic…no MULTIPLE different parts of the brain work together and create an ILLUSION of continuity. And the SAME thing goes for our VISUAL experience of the world. The SAME thing happens with our emotions. \n\n\n\nHere’s Susan Blackmore saying: the traditional METAPHORS that we casually throw around about consciousness…even with just a LITTLE bit of careful observation of your own experience…being someone up in a theater in your head with a unified, continuous STREAM of your own consciousness…this ISN’T even how our experiences SEEM. \n\n\n\nNow it should be said if you were sufficiently COMMITTED to the process…you could ABSOLUTELY carry on in life with a complete LACK of self awareness fueled by the METAPHORS of pop-psychology and MOVIES and TV shows, and you could DEFINITELY LIVE in a state of illusion about it. But that DOESN’T make it right…and what happens she asks when those METAPHORS go on to impact the way we conduct science or break things down philosophically? She says:\n\n\n\n“Neuroscience and disciplined introspection give the same answer: there are multiple parallel processes with no clear distinction between conscious and unconscious ones. Consciousness is an attribution we make, not a property of only some special events or processes. Notions of the stream, contents, continuity and function of consciousness are all misguided as is the search for the neural correlates of consciousness.”\n\n\n\nThe MORE you think about the ILLUSIONS that our brains create for the sake of simplicity…the more the question starts to emerge: what if there is no CENTRALIZED HEADQUARTERS of the brain where the subjective experience of YOU…is being produced? \n\n\n\nWhat if consciousness…is an emergent property that exists…ONLY, when there is a VERY SPECIFIC organization of physical systems? \n\n\n\nThere are people that believe that phenomenal consciousness… is an ILLUSION, they’re often called Illusionists…and what someone like THAT may say is sure, fully acknowledge there are other theories about what may ultimately explain phenomenal consciousness…but isn’t it ALSO, ENTIRELY POSSIBLE…that what it FEELS like to be YOU…is an illusion created by several, distributed processes of the brain running in parallel? Multiple different channels, exerting simultaneous influence on a variety of subsystems of the brain. That these subsystems talk to each other, they compete with each other, they ebb and flow between various states of representation. \n\n\n\nBut that these different DRAFTS of cognitive processes come together, to create a type of simplification of what’s going on in aggregate… and that simplification is what YOU experience as… YOU. I mean we have our five senses that help us map the EXTERNAL world and they do so in a way that is often crude and incomplete. Could it be… that we SIMILARLY… have a crude misrepresentation of our own brain activity that SIMILARLY, allows us to be able to function efficiently as a person? \n\n\n\nIf you were looking for another METAPHOR to apply here that an illusionist might say is probably better for people to think of themselves in terms of… because its not gonna lead us down that rabbit hole of the cartesian theater…its to THINK of phenomenal CONSCIOUSNESS…as being SIMILAR to a USER INTERFACE or a DESKTOP on a computer. \n\n\n\nThe idea is: what IS the desktop of a computer? Well its a bunch of simplified ICONS on a screen, that allow you to essentially manipulate the ELECTRICAL VOLTAGE going on in between transistors on computer hardware. But AS you’re pushing buttons to CHANNEL this electricity, getting things DONE on the computer…you don’t ACTUALLY need to know ANYTHING ABOUT the complex inner workings of how the software and hardware are operating.\n\n\n\nThe philosopher Daniel Dennett INTRODUCES the metaphor here in his famous book called Consciousness Explained (1991). He says:\n\n\n\n“When I interact with the computer, I have limited access to the events occurring within it. Thanks to the schemes of presentation devised by the programmers, I am treated to an elaborate audiovisual metaphor, an interactive drama acted out on the stage of keyboard, mouse, and screen. I, the User, am subjected to a series of benign illusions: I seem to be able to move the cursor (a powerful and visible servant) to the very place in the computer where I keep my file, and once that I see that the cursor has arrived ‘there’, by pressing a key I get it to retrieve the file, spreading it out on a long scroll that unrolls in front of a window (the screen) at my command. I can make all sorts of things happen inside the computer by typing in various commands, pressing various buttons, and I don’t have to know the details; I maintain control by relying on my understanding of the detailed audiovisual metaphors provided by the User illusion.”\n\n\n\nSo if we take this metaphor seriously…then the idea that you are some sort of privileged observer of everything that’s going on in your mind…that starts to seem like it’s just FALSE. To Daniel Dennett…we don’t know what’s REALLY happening at the deepest levels of our brains…we only know what SEEMS to be happening. We are constantly acting in certain ways, doing things…and then AFTER the fact making up reasons for why we ACTED in the way that we did.\n\n// ... (large data section truncated for RAG optimization) ...\n\n\nAnd this is the point in the conversation where we hit a bit of a crossroads…SAME crossroads that we’ve seen with OTHER theories of consciousness in the series so far. At a certain point...there are GOOD reasons to believe that phenomenal consciousness may be an illusion…and there are good reasons to DOUBT whether that is true or not. As we’ve talked about at a certain point with these conversations you just have to CHOOSE to believe in something, and then deal with the prescriptive implications of BELIEVING it after the fact…and one of the ones with Illusionism in particular is you can start to wonder, the more you think about it, how much consciousness being an illusion, ACTUALLY has an impact on ANYTHING going on in your everyday life or your relationship to society. \n\n\n\nIt’s actually pretty interesting to consider…how much the possibility of consciousness being an illusion…DIRECTLY MIRRORS, OTHER, unsolved conversations in the philosophy of mind more broadly. Like for example…the ongoing debate about whether FREE WILL is an illusion. \n\n\n\nIn fact in order to be able to talk about the societal impacts of consciousness being an illusion we have to talk about free will being one as well. \n\n\n\nNext episode we’re going to dive into it. Free will, free wont, hard determinism and the implications of ALL of these when it comes to structuring our societies. Keep your eyes open for it, it will be out soon! Thanks for everyone on Patreon and thanks for checking out the website at philosophizethis.org\n\n\n\nBut as always, thank you for listening. Talk to you next time. `}"
      },
      "typeVersion": 2
    },
    {
      "id": "a2ba5d04-8c28-4899-b131-29ade473526e",
      "name": "Summarize Transcript",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        -484,
        500
      ],
      "parameters": {
        "options": {},
        "operationMode": "documentLoader"
      },
      "typeVersion": 2
    },
    {
      "id": "47b73fb3-0d0c-4125-8639-8809ebccb9f6",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -280,
        860
      ],
      "parameters": {
        "options": {},
        "chunkSize": 6000,
        "chunkOverlap": 1000
      },
      "typeVersion": 1
    },
    {
      "id": "0830e349-2c8e-45ad-89be-14a77d0d083e",
      "name": "Extract Topics & Questions",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        -4,
        500
      ],
      "parameters": {
        "text": "=Podcast Summary:  {{ $json.response.output_text }}",
        "options": {
          "systemPromptTemplate": "=Come up with a list of questions and further topics to explore that are relevant for the context. Make sure questions are relevant to the topics but not verbatim. Think hard about what the appropriate questions should be and how it relates to the summarization."
        },
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"questions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"question\": {\n            \"type\": \"string\"\n          },\n          \"why\": {\n            \"type\": \"string\",\n            \"description\": \"Explanation of why this question is relevant for the context\"\n          }\n        },\n        \"required\": [\n          \"question\",\n          \"why\"\n        ]\n      }\n    },\n    \"topics\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"topic\": {\n            \"type\": \"string\"\n          },\n          \"why\": {\n            \"type\": \"string\",\n            \"description\": \"A few sentences explanation of why this topic is relevant for the context\"\n          }\n        },\n        \"required\": [\n          \"topic\",\n          \"why\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"questions\",\n    \"topics\"\n  ]\n}"
      },
      "typeVersion": 1
    },
    {
      "id": "e9e8239d-2154-406a-98c2-b77511a70f3e",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        80,
        660
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "<openAiApi-id>",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "b3abb262-f334-4ef4-b8f7-a8e6e8aa3b5f",
      "name": "Topics",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        340,
        500
      ],
      "parameters": {
        "options": {},
        "fieldToSplitOut": "output.questions"
      },
      "typeVersion": 1
    },
    {
      "id": "0bd53e7e-e1dd-47bb-86a1-e4f270c4dab3",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        700,
        720
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "<openAiApi-id>",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "6c05ed75-e890-4500-9804-6118adca6ee6",
      "name": "Format topic text & title",
      "type": "n8n-nodes-base.code",
      "position": [
        1160,
        500
      ],
      "parameters": {
        "jsCode": "const inputItems = $input.all();\nconst topics = [];\nconst questions = [];\nconst summary = $('Summarize Transcript').first().json.response.text;\n// Format Topics\nfor (const [index, topic] of inputItems.entries()) {\n  const title = $('Topics').all()[index].json.question\n\n  topics.push(`\n    <h3>${title}</h3>\n    <p>${topic.json.output}</p>`.trim()\n  )\n}\n\n// Format Questions\nfor (const question of $('Extract Topics & Questions').first().json.output.questions) {\n  questions.push(`\n    <h3>${question.question}</h3>\n    <p>${question.why}</p>`.trim()\n  )\n}\n\nreturn { topics, summary, questions }"
      },
      "typeVersion": 2
    },
    {
      "id": "836c1897-04bd-4547-897f-d7bf5ad91762",
      "name": "Send Digest",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1340,
        500
      ],
      "webhookId": "8c4cf2db-e22b-46e6-b27a-c03044bd38dc",
      "parameters": {
        "sendTo": "oleg@n8n.io",
        "message": "=Greetings 👋,\nHope you're doing well! Here's your digest for this week's episode of Philoshopy This! \n\n<h2>🎙 Episode Summary</h2>\n{{ $json.summary }}\n\n<h2>💡 Topics Discussed</h2>\n{{ $json.topics.join('\\n') }}\n\n<h2>❓ Questions to Ponder</h2>\n{{ $json.questions.join('\\n') }}",
        "options": {},
        "subject": "Podcast Digest"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "<gmailOAuth2-id>",
          "name": "Gmail account"
        }
      },
      "typeVersion": 2.1
    }
  ],
  "connections": {
    "Topics": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format topic text & title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Transcript",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Topics & Questions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Summarize Transcript",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Transcript": {
      "main": [
        [
          {
            "node": "Extract Topics & Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format topic text & title": {
      "main": [
        [
          {
            "node": "Send Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Topics & Questions": {
      "main": [
        [
          {
            "node": "Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Podcast Episode Transcript": {
      "main": [
        [
          {
            "node": "Summarize Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Podcast Episode Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  }
}