workflows-rag-optimized/0479_Grist_Stickynote_Create_Webhook.json
{
  "meta": {
    "instanceId": "<UUID-chain>"
  },
  "nodes": [
    {
      "id": "93eba4f0-218d-47d3-a55f-09d490d5e0bb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        100,
        320
      ],
      "webhookId": "03e24572-a381-455e-a5b8-ae697647f7d4",
      "parameters": {
        "path": "03e24572-a381-455e-a5b8-ae697647f7d4",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 1.1
    },
    {
      "id": "e2c8d43e-79f9-45a4-9d6d-37e8768e7f81",
      "name": "Create Row",
      "type": "n8n-nodes-base.grist",
      "position": [
        940,
        240
      ],
      "parameters": {
        "docId": "",
        "tableId": "",
        "operation": "create",
        "fieldsToSend": {
          "properties": [
            {
              "fieldId": "Source",
              "fieldValue": "={{ $json.body[0].id }}"
            }
          ]
        }
      },
      "credentials": {
        "gristApi": {
          "id": "<gristApi-id>",
          "name": "Grist"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "1e6e741e-2890-4e08-a97a-efae1812d507",
      "name": "Confirmed?",
      "type": "n8n-nodes-base.if",
      "position": [
        300,
        320
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "df1c1dba-dc96-42e9-86ee-8ccd4c82b048",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.body[0].Confirmed }}",
              "rightValue": ""
            }
          ]
        }
      },
      "notesInFlow": true,
      "typeVersion": 2
    },
    {
      "id": "c6b1b482-6121-4484-b524-bc3e7e175fe8",
      "name": "get existing",
      "type": "n8n-nodes-base.grist",
      "position": [
        560,
        160
      ],
      "parameters": {
        "docId": "",
        "tableId": "",
        "additionalOptions": {
          "filter": {
            "filterProperties": [
              {
                "field": "Source",
                "values": "={{ $json.body[0].id }}"
              }
            ]
          }
        }
      },
      "credentials": {
        "gristApi": {
          "id": "<gristApi-id>",
          "name": "Grist"
        }
      },
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "id": "a52e000c-73ef-4f2d-811d-cbcaf45e2b75",
      "name": "has existing?",
      "type": "n8n-nodes-base.if",
      "position": [
        700,
        160
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "6f08b500-956e-493c-abbe-845b5352110c",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Confirmed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmed?": {
      "main": [
        [
          {
            "node": "get existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get existing": {
      "main": [
        [
          {
            "node": "has existing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has existing?": {
      "main": [
        null,
        [
          {
            "node": "Create Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}