workflows-rag-optimized/0489_Manual_Debughelper_Create_Triggered.json
{
  "meta": {
    "instanceId": "<UUID-chain>"
  },
  "nodes": [
    {
      "id": "2f7c95cb-2545-48b6-aa77-55a6619aa3b6",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        140,
        240
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "215ff8f7-f94b-4999-a0db-c3ee93041001",
      "name": "Set these fields to extract domain",
      "type": "n8n-nodes-base.set",
      "position": [
        660,
        240
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "be48e606-536b-48a0-a0b9-ba1ca0296e75",
              "name": "Valid EmailIs email ",
              "type": "string",
              "value": "={{ $json.email.isEmail() }}"
            },
            {
              "id": "68e983c1-3f12-45ab-a441-ca54444a1f42",
              "name": "Extract Domain",
              "type": "string",
              "value": "={{ $json.email.extractDomain() }}"
            },
            {
              "id": "37447324-b80a-40cf-a41e-92c7550f3702",
              "name": "email",
              "type": "string",
              "value": "={{ $json.email }}"
            }
          ]
        }
      },
      "typeVersion": 3.3
    },
    {
      "id": "e85e9445-2f43-4545-a41d-f9ced6e8c8d9",
      "name": "Generate random data",
      "type": "n8n-nodes-base.debugHelper",
      "position": [
        420,
        240
      ],
      "parameters": {
        "category": "randomData",
        "randomDataType": "email"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Generate random data": {
      "main": [
        [
          {
            "node": "Set these fields to extract domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Generate random data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}