workflows-rag-optimized/0509_Manual_Stickynote_Automation_Webhook.json
{
  "meta": {
    "instanceId": "<UUID-chain>",
    "templateId": "2297"
  },
  "nodes": [
    {
      "id": "41ce128f-e9e5-478f-8954-c94019884721",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -160,
        240
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "3a3b3212-2eb3-411e-981e-37bd3f3e46fe",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        680,
        240
      ],
      "parameters": {
        "url": "https://v2.convertapi.com/convert/docx/to/pdf",
        "method": "POST",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "sendHeaders": true,
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.url_to_file }}"
            }
          ]
        },
        "genericAuthType": "httpQueryAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/octet-stream"
            }
          ]
        }
      },
      "credentials": {
        "httpQueryAuth": {
          "id": "<httpQueryAuth-id>",
          "name": "Query Auth account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "987ec4b3-3241-4cb6-b735-04754ead8ef8",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        1000,
        240
      ],
      "parameters": {
        "options": {},
        "fileName": "document.pdf",
        "operation": "write",
        "dataPropertyName": "=data"
      },
      "typeVersion": 1
    },
    {
      "id": "3e4f5f45-36c8-4a71-b053-6b5beafa3025",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        220,
        240
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "25315146-5709-49d4-9c01-27dd5eeba879",
              "name": "url_to_file",
              "type": "string",
              "value": "https://cdn.convertapi.com/cara/testfiles/document.docx"
            }
          ]
        }
      },
      "typeVersion": 3.3
    }
  ],
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}