workflows-rag-optimized/0597_Respondtowebhook_Stickynote_Automate_Webhook.json
{
  "meta": {
    "instanceId": "<UUID-chain>"
  },
  "nodes": [
    {
      "id": "c45400b8-d3b8-47f7-81c6-d791bce4c266",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        1020,
        380
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "spanish",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "spanish"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "english",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "bedb302f-646c-4dcd-8246-1fcfecfe3f2e",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "english"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "grammar",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "94e6cf7d-576d-4ad9-85b0-c6b945eb41b7",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "grammar"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "shorter",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "1ed0d1e1-2df0-4f8d-b102-4004a25919ed",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "shorter"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "longer",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "4756df03-7e7c-4e28-9b37-14684326b083",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "longer"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "48e0e58e-6293-4e11-a488-ca9943b53484",
      "name": "Respond to Shortcut",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1840,
        400
      ],
      "parameters": {
        "options": {},
        "respondWith": "text",
        "responseBody": "={{ $json.message.content.output.replaceAll('\\n', '<br/>') }}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "2655b782-9538-416c-ae65-35f8c77889c7",
      "name": "Webhook from Shortcut",
      "type": "n8n-nodes-base.webhook",
      "position": [
        840,
        400
      ],
      "webhookId": "e4ddadd2-a127-4690-98ca-e9ee75c1bdd6",
      "parameters": {
        "path": "shortcut-global-as",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "880ed4a2-0756-4943-a51f-368678e22273",
      "name": "OpenAI - Make Shorter",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1300,
        540
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Summarize this content a little bit (5% shorter)\nOutput a JSON with a single field: output"
            },
            {
              "content": "={{ $json.body.content }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "credentials": {
        "openAiApi": {
          "id": "<openAiApi-id>",
          "name": "OpenAi account - Baptiste"
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "c6c6d988-7aab-4677-af1f-880d05691ec3",
      "name": "OpenAI - Make Longer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1300,
        680
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Make this content a little longer (5% longer)\nOutput a JSON with a single field: output"
            },
            {
              "content": "={{ $json.body.content }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "credentials": {
        "openAiApi": {
          "id": "<openAiApi-id>",
          "name": "OpenAi account - Baptiste"
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "8e6de4b7-22c3-45c9-a8d7-d498cf829b6f",
      "name": "OpenAI - Correct Grammar",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1300,
        400
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Correct grammar only, don't change the actual contents.\nOutput a JSON with a single field: output"
            },
            {
              "content": "={{ $json.body.content }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "credentials": {
        "openAiApi": {
          "id": "<openAiApi-id>",
          "name": "OpenAi account - Baptiste"
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "bc006b36-5a96-4c3a-9a28-2778a6c49f10",
      "name": "OpenAI - To Spanish",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1300,
        120
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Translate this message to Spanish.\nOutput a JSON with a single field: output"
            },
            {
              "content": "={{ $json.body.content }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "credentials": {
        "openAiApi": {
          "id": "<openAiApi-id>",
          "name": "OpenAi account - Baptiste"
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "330d2e40-1e52-4517-94e0-ce96226697fa",
      "name": "OpenAI - To English",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1300,
        260
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Translate this message to English.\nOutput a JSON with a single field: output"
            },
            {
              "content": "={{ $json.body.content }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "credentials": {
        "openAiApi": {
          "id": "<openAiApi-id>",
          "name": "OpenAi account - Baptiste"
        }
      },
      "typeVersion": 1.4
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "OpenAI - To Spanish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI - To English",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI - Correct Grammar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI - Make Shorter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI - Make Longer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - To English": {
      "main": [
        [
          {
            "node": "Respond to Shortcut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - To Spanish": {
      "main": [
        [
          {
            "node": "Respond to Shortcut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Make Longer": {
      "main": [
        [
          {
            "node": "Respond to Shortcut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Make Shorter": {
      "main": [
        [
          {
            "node": "Respond to Shortcut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook from Shortcut": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Correct Grammar": {
      "main": [
        [
          {
            "node": "Respond to Shortcut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}