workflows-rag-optimized/0627_Wait_Splitout_Create_Scheduled.json
{
  "meta": {
    "instanceId": "<UUID-chain>"
  },
  "nodes": [
    {
      "id": "f97d8638-b081-4b09-9a83-265f8f99d2dc",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        460,
        400
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "2df27d6b-b89b-4af0-bdbf-4bc1e0dfc95a",
      "name": "Global Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        780,
        460
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "6a8a0cbf-bf3e-4702-956e-a35966d8b9c5",
              "name": "base_url",
              "type": "string",
              "value": "https://qualysapi.qg3.apps.qualys.com"
            },
            {
              "id": "fa441581-e50e-4766-adb1-e791b3031aac",
              "name": "newtimestamp",
              "type": "string",
              "value": "={{ $now.toUTC().toString() }}"
            }
          ]
        }
      },
      "typeVersion": 3.3
    },
    {
      "id": "f280aaec-10e1-4d4f-9233-75130f7e2601",
      "name": "Fetch Reports from Qualys",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1180,
        460
      ],
      "parameters": {
        "": "",
        "url": "={{ $json.base_url }}/api/2.0/fo/report",
        "method": "GET",
        "options": {},
        "sendBody": false,
        "sendQuery": true,
        "curlImport": "",
        "infoMessage": "",
        "sendHeaders": false,
        "specifyQuery": "keypair",
        "authentication": "predefinedCredentialType",
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "list"
            },
            {
              "name": "state",
              "value": "Finished"
            }
          ]
        },
        "httpVariantWarning": "",
        "nodeCredentialType": "qualysApi",
        "provideSslCertificates": false
      },
      "credentials": {
        "qualysApi": {
          "id": "<qualysApi-id>",
          "name": "Qualys account"
        }
      },
      "typeVersion": 4.2,
      "extendsCredential": "qualysApi"
    },
    {
      "id": "481066cc-8ac2-4382-9203-33b78f76af77",
      "name": "Remove Already Processed Reports",
      "type": "n8n-nodes-base.filter",
      "position": [
        1700,
        460
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "10408e4e-fa76-4e35-bb23-5c34f698f4b4",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              },
              "leftValue": "={{ $json.LAUNCH_DATETIME }}",
              "rightValue": "={{ $('Get Last Timestamp').item.json[\"timestamp\"] || $today.minus({year: 50}).toUTC() }}"
            }
          ]
        }
      },
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "id": "4dfdb8c9-ab22-48a4-ada0-d1edd30b9460",
      "name": "Any Reports to Process?",
      "type": "n8n-nodes-base.if",
      "position": [
        1880,
        460
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0d2bcbb2-e2b8-476e-8090-2ad350dd58d2",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.ID }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "94e678e8-669f-47ee-9530-4652ff11b99f",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2120,
        520
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "28dc3495-5af2-4b31-ac20-a3c7ee11f19f",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        2380,
        540
      ],
      "webhookId": "9b6f1b01-42f9-4f51-b0f5-47262da9c9ca",
      "parameters": {},
      "typeVersion": 1.1
    },
    {
      "id": "06e5daf2-334a-430e-8dbf-c8feeb20d015",
      "name": "Update Timestamp",
      "type": "n8n-nodes-base.n8n",
      "position": [
        2380,
        380
      ],
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "n9Vh6tvRs0Y2y7V9",
          "cachedResultName": "Timestamp Storage Qualys (#n9Vh6tvRs0Y2y7V9)"
        },
        "requestOptions": {},
        "workflowObject": "={\n  \"name\": \"Timestamp Storage\",\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"9ff52fe4-011e-4460-a8c5-a38bff47966a\",\n              \"name\": \"timestamp\",\n              \"value\": \"{{ $('Global Variables').item.json[\"newtimestamp\"] }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"includeOtherFields\": true,\n        \"options\": {}\n      },\n      \"id\": \"8903e1d5-e9cd-4694-94d8-502ecbe58ebe\",\n      \"name\": \"Set Timestamp\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        1020,\n        220\n      ]\n    },\n    {\n      \"parameters\": {},\n      \"id\": \"ca615aab-24e4-4f25-81ad-3e697426c236\",\n      \"name\": \"Execute Workflow Trigger\",\n      \"type\": \"n8n-nodes-base.executeWorkflowTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        800,\n        220\n      ]\n    }\n  ],\n  \"connections\": {\n    \"Execute Workflow Trigger\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set Timestamp\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"settings\": {\n   \n  },\n  \"staticData\": null\n}\n"
      },
      "credentials": {
        "n8nApi": {
          "id": "<n8nApi-id>",
          "name": "n8n account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "387c0d2a-09e0-4227-8910-f0a30106787a",
      "name": "Get Last Timestamp",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        980,
        460
      ],
      "parameters": {
        "options": {},
        "workflowId": "n9Vh6tvRs0Y2y7V9"
      },
      "typeVersion": 1
    },
    {
      "id": "6c0d8608-da13-4fa1-a612-aa43ac607af6",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "position": [
        1340,
        460
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "511d290e-5cad-4d34-b54c-de45b11dab45",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1520,
        460
      ],
      "parameters": {
        "options": {},
        "fieldToSplitOut": "REPORT_LIST_OUTPUT.RESPONSE.REPORT_LIST.REPORT"
      },
      "typeVersion": 1
    },
    {
      "id": "45f7c06b-63c0-4bae-b301-33633e751a61",
      "name": "Create Case",
      "type": "n8n-nodes-base.theHiveProject",
      "position": [
        2640,
        540
      ],
      "parameters": {
        "resource": "case",
        "caseFields": {
          "value": {
            "tlp": 2,
            "flag": false,
            "tags": "Qualys Scan",
            "title": "={{ $json.TITLE }}",
            "description": "=- **ID:** {{ $json[\"ID\"] }}\n- **Type:** {{ $json[\"TYPE\"] }}\n- **User Login:** {{ $json[\"USER_LOGIN\"] }}\n- **Launch Datetime:** {{ $json[\"LAUNCH_DATETIME\"] }}\n- **Output Format:** {{ $json[\"OUTPUT_FORMAT\"] }}\n- **Size:** {{ $json[\"OUTPUT_FORMAT\"] }}\n- **Status:** {{ $json[\"STATUS\"][\"STATE\"] }}\n- **Expiration Datetime:** {{ $json[\"EXPIRATION_DATETIME\"] }}\n"
          },
          "schema": [
            {
              "id": "title",
              "type": "string",
              "display": true,
              "removed": false,
              "required": true,
              "displayName": "Title",
              "defaultMatch": false
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "removed": false,
              "required": true,
              "displayName": "Description",
              "defaultMatch": false
            },
            {
              "id": "severity",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "Low",
                  "value": 1
                },
                {
                  "name": "Medium",
                  "value": 2
                },
                {
                  "name": "High",
                  "value": 3
                },
                {
                  "name": "Critical",
                  "value": 4
                }
              ],
              "removed": true,
              "required": false,
              "displayName": "Severity (Severity of information)",
              "defaultMatch": false
            },
            {
              "id": "startDate",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Start Date",
              "defaultMatch": false
            },
            {
              "id": "endDate",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "End Date",
              "defaultMatch": false
            },
            {
              "id": "tags",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Tags",
              "defaultMatch": false
            },
            {
              "id": "flag",
              "type": "boolean",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Flag",
              "defaultMatch": false
            },
            {
              "id": "tlp",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": false,
              "required": false,
              "displayName": "TLP (Confidentiality of information)",
              "defaultMatch": false
            },
            {
              "id": "pap",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": true,
              "required": false,
              "displayName": "PAP (Level of exposure of information)",
              "defaultMatch": false
            },
            {
              "id": "summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Summary",
              "defaultMatch": false
            },
            {
              "id": "status",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "Duplicated",
                  "value": "Duplicated",
                  "description": "Stage: Closed"
                },
                {
                  "name": "FalsePositive",
                  "value": "FalsePositive",
                  "description": "Stage: Closed"
                },
                {
                  "name": "Indeterminate",
                  "value": "Indeterminate",
                  "description": "Stage: Closed"
                },
                {
                  "name": "InProgress",
                  "value": "InProgress",
                  "description": "Stage: InProgress"
                },
                {
                  "name": "New",
                  "value": "New",
                  "description": "Stage: New"
                },
                {
                  "name": "Other",
                  "value": "Other",
                  "description": "Stage: Closed"
                },
                {
                  "name": "TruePositive",
                  "value": "TruePositive",
                  "description": "Stage: Closed"
                }
              ],
              "removed": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false
            },
            {
              "id": "assignee",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "Angel",
                  "value": "angel@n8n.io"
                },
                {
                  "name": "John Smith",
                  "value": "john@n8n.io"
                }
              ],
              "removed": true,
              "required": false,
              "displayName": "Assignee",
              "defaultMatch": false
            },
            {
              "id": "caseTemplate",
              "type": "options",
              "display": true,
              "options": [],
              "removed": true,
              "required": false,
              "displayName": "Case Template",
              "defaultMatch": false
            },
            {
              "id": "tasks",
              "type": "array",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Tasks",
              "defaultMatch": false
            },
            {
              "id": "sharingParameters",
              "type": "array",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Sharing Parameters",
              "defaultMatch": false
            },
            {
              "id": "observableRule",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Observable Rule",
              "defaultMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": []
        }
      },
      "credentials": {
        "theHiveProjectApi": {
          "id": "<theHiveProjectApi-id>",
          "name": "The Hive 5 account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "b38d3176-2c87-4460-b22c-e08ccae93e44",
      "name": "Download Report",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3060,
        540
      ],
      "parameters": {
        "": "",
        "url": "={{ $('Global Variables').item.json.base_url }}/api/2.0/fo/report/",
        "method": "GET",
        "options": {},
        "sendBody": false,
        "sendQuery": true,
        "curlImport": "",
        "infoMessage": "",
        "sendHeaders": false,
        "specifyQuery": "keypair",
        "authentication": "predefinedCredentialType",
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "fetch"
            },
            {
              "name": "id",
              "value": "={{ $('Loop Over Items').item.json.ID }}"
            }
          ]
        },
        "httpVariantWarning": "",
        "nodeCredentialType": "qualysApi",
        "provideSslCertificates": false
      },
      "credentials": {
        "qualysApi": {
          "id": "<qualysApi-id>",
          "name": "Qualys account"
        }
      },
      "typeVersion": 4.2,
      "extendsCredential": "qualysApi"
    },
    {
      "id": "9b005b38-be40-4f36-954e-ef829b894436",
      "name": "Add Report As Attachment",
      "type": "n8n-nodes-base.theHiveProject",
      "position": [
        3420,
        540
      ],
      "parameters": {
        "caseId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Case').item.json._id }}"
        },
        "options": {},
        "resource": "case",
        "operation": "addAttachment",
        "attachmentsUi": {
          "values": [
            {}
          ]
        }
      },
      "credentials": {
        "theHiveProjectApi": {
          "id": "<theHiveProjectApi-id>",
          "name": "The Hive 5 account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "8a1fda04-2028-41a0-95db-3aa958fc7446",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        460,
        560
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "typeVersion": 1.2
    }
  ],
  "connections": {
    "XML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Create Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Remove Already Processed Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Case": {
      "main": [
        [
          {
            "node": "Download Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Report": {
      "main": [
        [
          {
            "node": "Add Report As Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Update Timestamp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Variables": {
      "main": [
        [
          {
            "node": "Get Last Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Global Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Timestamp": {
      "main": [
        [
          {
            "node": "Fetch Reports from Qualys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Reports to Process?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Report As Attachment": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Reports from Qualys": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Global Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Already Processed Reports": {
      "main": [
        [
          {
            "node": "Any Reports to Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}