workflows-rag-optimized/0861_Manual_Stickynote_Update_Triggered.json
{
  "meta": {
    "instanceId": "<UUID-chain>"
  },
  "nodes": [
    {
      "id": "e0721f8a-d157-4ec4-91b3-94060a841dc8",
      "name": "QuickChart",
      "type": "n8n-nodes-base.quickChart",
      "position": [
        240,
        -40
      ],
      "parameters": {
        "data": "={{ $json.jsonData.salesData }}",
        "chartType": "line",
        "labelsMode": "array",
        "labelsArray": "={{ $json.jsonData.labels }}",
        "chartOptions": {},
        "datasetOptions": {}
      },
      "typeVersion": 1
    },
    {
      "id": "b178ca51-357f-4731-8953-75e2370edc2d",
      "name": "Edit Fields: Set JSON data to test",
      "type": "n8n-nodes-base.set",
      "position": [
        -80,
        -40
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "1b3ae0ac-7fa5-406c-8e61-d6a9a6c27f07",
              "name": "jsonData",
              "type": "object",
              "value": "={ \"reportTitle\": \"Quarterly Sales\", \"labels\": [\"Q1\", \"Q2\", \"Q3\", \"Q4\"], \"salesData\": [1250, 1800, 1550, 2100] }"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "393665db-f6a6-4294-afd8-3a9f32192c64",
      "name": "Google Drive: Upload File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        520,
        -40
      ],
      "parameters": {
        "name": "=chart.{{ $binary.data.fileExtension }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "options": {},
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "<googleDriveOAuth2Api-id>",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "1af3cfc6-f690-4af2-a812-4a4da118a55c",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -400,
        -40
      ],
      "parameters": {},
      "typeVersion": 1
    }
  ],
  "connections": {
    "QuickChart": {
      "main": [
        [
          {
            "node": "Google Drive: Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields: Set JSON data to test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields: Set JSON data to test": {
      "main": [
        [
          {
            "node": "QuickChart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}