workflows-rag-optimized/1419_HTTP_Schedule_Automation_Scheduled.json
{
  "id": "EJHT9UmGXNOyynV0",
  "meta": {
    "instanceId": "<UUID-chain>"
  },
  "name": "Scans von PDF zu Nextcloud",
  "tags": [],
  "nodes": [
    {
      "id": "574d02f2-54c9-4f24-9c8b-4618ccdf2c7c",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -80,
        -80
      ],
      "parameters": {
        "url": "http://192.168.1.100:8080/api/v1/files",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "7a1b5ef3-750f-45c5-b60e-34d463978abf",
      "name": "Nextcloud",
      "type": "n8n-nodes-base.nextCloud",
      "position": [
        340,
        -80
      ],
      "parameters": {
        "path": "=/Scans/{{ $json.name }}",
        "binaryDataUpload": true
      },
      "credentials": {
        "nextCloudApi": {
          "id": "<nextCloudApi-id>",
          "name": "NextCloud account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "93a27a7e-d709-4ceb-b062-4136fcaa7c0a",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        140,
        -80
      ],
      "parameters": {
        "url": "=http://192.168.1.100:8080/api/v1/files/{{ $json.name }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "77388051-b1b3-4a75-8190-628cb10c6734",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -280,
        -80
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "typeVersion": 1.2
    }
  ],
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Nextcloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}