workflows-rag-optimized/1869_Manual_N8Ntrainingcustomerdatastore_Automation_Triggered.json
{
  "id": "gkOayLvJnwcTiHbk",
  "meta": {
    "instanceId": "<UUID-chain>"
  },
  "name": "itemMatching() example",
  "tags": [],
  "nodes": [
    {
      "id": "ba0e23f6-aec6-4c22-8e7c-ab4fc65c7767",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        640,
        500
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "8434c3b4-5b80-48e5-803b-b84eb750b2c5",
      "name": "Customer Datastore (n8n training)",
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "position": [
        880,
        500
      ],
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "typeVersion": 1
    },
    {
      "id": "4750754a-92a6-44d2-a353-22fbb51a4d00",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        1440,
        500
      ],
      "parameters": {
        "language": "python",
        "pythonCode": "for i,item in enumerate(_input.all()):\n  _input.all()[i].json.restoreEmail = _('Customer Datastore (n8n training)').itemMatching(i).json.email\n\nreturn _input.all();"
      },
      "typeVersion": 2
    },
    {
      "id": "9ac437bd-0d0d-4d92-845a-a1c9a7976d4d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1180,
        500
      ],
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "name",
              "stringValue": "={{ $json.name }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "typeVersion": 3.2
    }
  ],
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Customer Datastore (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}