workflows-rag-optimized/1952_Schedule_HTTP_Monitor_Webhook.json
{
  "id": "pcLi17oUJK9pSaee",
  "meta": {
    "instanceId": "<UUID-chain>"
  },
  "name": "Web Server Monitor.",
  "tags": [],
  "nodes": [
    {
      "id": "94a3454c-69bd-4a5d-b169-8f3772a41321",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "f92fcadf-0b13-42ac-abed-aaf169d0ed76",
      "name": "Server-Monitor",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        220,
        0
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 524060827,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OiwBkf3bs3tcfi5cAIrOl_GrXw2EfQLdcPbh6SaBFKQ/edit#gid=524060827",
          "cachedResultName": "Server_List"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1OiwBkf3bs3tcfi5cAIrOl_GrXw2EfQLdcPbh6SaBFKQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OiwBkf3bs3tcfi5cAIrOl_GrXw2EfQLdcPbh6SaBFKQ/edit?usp=drivesdk",
          "cachedResultName": "Server-Monitor"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<googleSheetsOAuth2Api-id>",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "c168a1f9-1f3f-40b8-95d0-51f6259d8096",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueErrorOutput",
      "position": [
        440,
        0
      ],
      "parameters": {
        "url": "=http://{{ $json.Server }}",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "0ac82373-6958-4de9-8cf7-94b0005197ff",
      "name": "Server_Status_Alive",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        660,
        -180
      ],
      "parameters": {
        "columns": {
          "value": {
            "Status": "Alive",
            "TimeStamp": "={{ $now.format('yyyy-MM-dd') }}",
            "Server IP Address": "={{ $('Server-Monitor').item.json.Server }}"
          },
          "schema": [
            {
              "id": "TimeStamp",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "TimeStamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Server IP Address",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Server IP Address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 303958634,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OiwBkf3bs3tcfi5cAIrOl_GrXw2EfQLdcPbh6SaBFKQ/edit#gid=303958634",
          "cachedResultName": "Server_Status_Alive"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1OiwBkf3bs3tcfi5cAIrOl_GrXw2EfQLdcPbh6SaBFKQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OiwBkf3bs3tcfi5cAIrOl_GrXw2EfQLdcPbh6SaBFKQ/edit?usp=drivesdk",
          "cachedResultName": "Server-Monitor"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<googleSheetsOAuth2Api-id>",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "6dc31115-4ab6-44cf-ac4f-e2af82a5355e",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        660,
        100
      ],
      "webhookId": "dec1def3-c858-4a43-b96e-2655d3fa3b77",
      "parameters": {
        "message": "=Hi Team,\n\nAt {{$now.format('yyyy-MM-dd HH:mm:ss')}}, the following server failed to respond to ping:\n\n🔻 Server Down: {{ $json[\"Server\"] }}  \n\nPlease investigate immediately to prevent service disruption. \n\nAutomated Monitoring System\n",
        "options": {},
        "subject": "=🔻 Server Down: {{ $json[\"Server\"] }}: {{ $today.format('yyyy-MM-dd') }}"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "<gmailOAuth2-id>",
          "name": "Gmail account 2"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "10262115-57a2-4c4d-9a10-89f4f6ee4ed7",
      "name": "Server_Status_Down",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        880,
        100
      ],
      "parameters": {
        "columns": {
          "value": {
            "Status": "Down",
            "TimeStamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "Server IP Address": "={{ $('Server-Monitor').item.json.Server }}"
          },
          "schema": [
            {
              "id": "TimeStamp",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "TimeStamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Server IP Address",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Server IP Address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OiwBkf3bs3tcfi5cAIrOl_GrXw2EfQLdcPbh6SaBFKQ/edit#gid=0",
          "cachedResultName": "Server_Status_Down"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1OiwBkf3bs3tcfi5cAIrOl_GrXw2EfQLdcPbh6SaBFKQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OiwBkf3bs3tcfi5cAIrOl_GrXw2EfQLdcPbh6SaBFKQ/edit?usp=drivesdk",
          "cachedResultName": "Server-Monitor"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<googleSheetsOAuth2Api-id>",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.5
    }
  ],
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "Gmail": {
      "main": [
        [
          {
            "node": "Server_Status_Down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Server_Status_Alive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Server-Monitor": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Server-Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}