workflows-rag-optimized/2005_Telegram_Schedule_Monitor_Webhook.json
{
  "id": "wng5xcxlYA6jFS6n",
  "meta": {
    "instanceId": "<UUID-chain>"
  },
  "name": "MAIA - Health Check",
  "tags": [],
  "nodes": [
    {
      "id": "10335465-853d-47ea-aad7-34460c741b74",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        860,
        -20
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "ea7771ba-3d35-423a-9813-2a65448a15fc",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        860,
        160
      ],
      "webhookId": "6c02772a-8f40-4d9b-8fe5-220aac63c34e",
      "parameters": {
        "text": "=Health Check :  {{ $json.URLS }}\n\n{{ $json.error.code }}",
        "chatId": "1548053076",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "<telegramApi-id>",
          "name": "Telegram account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "bae03dc7-e35b-4760-8de8-151d2d97391b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "a53fba9c-0f7e-4757-8bcd-e3622845e804",
      "name": "Fetch Urls",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        220,
        0
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17-tY9_wn-D2FV627Sx3-Z3abqFYvz794edej7es5J6w/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "17-tY9_wn-D2FV627Sx3-Z3abqFYvz794edej7es5J6w"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<googleSheetsOAuth2Api-id>",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "c96a2070-953b-4a03-a308-dae92d841851",
      "name": "Check URL",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueErrorOutput",
      "position": [
        520,
        0
      ],
      "parameters": {
        "url": "={{ $json.URLS }}",
        "options": {}
      },
      "typeVersion": 4.2,
      "alwaysOutputData": false
    }
  ],
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "Check URL": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Urls": {
      "main": [
        [
          {
            "node": "Check URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}